*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: #563434;
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;  
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
}


.line15{
    position: absolute;
width: 410px;
height: 0px;
left: 54px;
top: 438px;

border: 2px solid #000000;

}
.line16{
    position: absolute;
width: 428px;
height: 0px;
left: 1005px;
top: 438px;

border: 2px solid #000000;
}

.productInformationHeader{
    position: absolute;
width: 468px;
height: 78px;
left: 540px;
top: 404px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 55px;

color: #000000;

}

.image13{
    position: absolute;
width: 566px;
height: 784px;
left: 57px;
top: 573px;

background: url(image.png);
}

.Rectangle43{
    position: absolute;
width: 703px;
height: 790px;
left: 682px;
top: 567px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
}

.productName{
    position: absolute;
width: 215px;
height: 53px;
left: 922px;
top: 600px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 34px;

color: #000000;
}

.productPrice{
    position: absolute;
width: 96px;
height: 43px;
left: 986px;
top: 653px;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 28px;
line-height: 34px;

color: #000000;
}

.productQuantity{
    position: absolute;
width: 170px;
height: 27px;
left: 865px;
top: 772px;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 28px;
line-height: 34px;

color: #000000;
}

.productSize{
    position: absolute;
width: 68px;
height: 40px;
left: 901px;
top: 880px;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 28px;
line-height: 34px;


color: #000000;
}

.productQuantityBox[type=number]{
    position: absolute;
width: 203px;
height: 53px;
left: 1044px;
top: 762px;
padding: 16px 20px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
}

select{
    position: absolute;
width: 203px;
height: 53px;
left: 1044px;
top: 876px;
padding: 16px 20px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
}

.addToBasketBox{
    position: absolute;
width: 421px;
height: 70px;
left: 843px;
top: 1076px;
font-size: 24px;

background-color: white;
color: black;
}

.button3:hover {
background: #000000;
color: white;
  }

.addToWishlist{
    position: absolute;
width: 228px;
height: 45px;
left: 934px;
top: 1227px;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 34px;
padding: 0;
border: none;
background: none;
text-decoration: underline;

color: #000000;
}

h1 {
position: absolute;
width: 680px;
height: 88px;
left: 112px;
top: 1464px;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 45px;
line-height: 55px;

color: #000000;
}
  
p {
position: absolute;
width: 1209px;
height: 272px;
left: 116px;
top: 1569px;

font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 28px;
line-height: 34px;

color: #000000;
}

.boxed{
position: absolute;
width: 1334px;
height: 554px;
left: 51px;
top: 1412px;
background-color: none;
border: 1px solid #000000;
box-sizing: border-box;
opacity: 0.6;
}

